/* Global */
body {
    background-color: #eee;
    color: #222;
}
hr {
    border-color: #888;
    background-color: #888;
    color: #888;
}

/* Player Types */
.primary_player_text {
    color: #068E8E;
}
.secondary_player_text {
    color: #EC700A;
}

/* Nav */
body {
    padding-top: 70px;
}
.nav_username, .nav_username:hover {
    color: inherit;
    text-decoration: none;
}
.nav_username:hover {
    color: #ffffff;
}
.nav .nav_score {
    color: #ffffff;
}
.main_nav {
    margin-right: 0;
}

/* Bid */
input[type=range].game_bid_input_range, input[type=range].karma_bid_input_range {
    margin: 4px 0;
}
.game_bid_input_number, .karma_bid_input_number {
    font-weight: bold;
}

/* Games */
.game_grid_table {
    display: none;
}
.game_grid_table, .game_user_table {
    background: #fff;
}
.game_cell {
    font-size: 1.2em;
    font-weight: bold;
}
.game_cell:hover {
    background-color: #f5f5f5;
}
.choice_pre_label {
    width: 25%;
    display: inline-block;
}
.game_choice_button {
    width: 100%;
    height: 100px;
}
.game_user_table {
    padding: 0;
    margin: 0;
}
.game_user_table_user_name {
    max-width: 150px;
    word-wrap: break-word;
}
.choice_pre_label {
    white-space: nowrap;
}
.started_game_parent {
    transition: opacity 1s;
}
@media only screen and (max-device-width: 600px) {
    .finished_game_flat_parent {
        font-size: 0.9em;
    }
    .started_game_flat_parent {
        font-size: 0.8em;
    }
}

/* Karma */
.karma_type_label {
    margin-bottom: 1px;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.25em;
}

/* Leaderboard */
.leaderboard_avatar {
    display: block;
    max-height: 50px;
    max-width: 50px;
}
.game_grid_avatar {
    display: block;
    max-height: 50px;
    max-width: 50px;
}

/* Fancy Range */
/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

/* Paper CSS Fixes */
ul li:before {
    content: none;
}
a {
    background-image: none;
    text-decoration: underline;
}
h1 {
    font-size: 3rem;
}
h3 small {
    font-size: 55%;
}
hr:after {
    content: none;
}

/* Orange Action Bootstrap-Styled Button */
.btn-action {   
    background-color: hsl(44, 100%, 56%) !important; 
    background-repeat: repeat-x; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc31e", endColorstr="#ffc31e"); 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc31e), to(#ffc31e)); 
    background-image: -moz-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: -ms-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc31e), color-stop(100%, #ffc31e)); 
    background-image: -webkit-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: -o-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: linear-gradient(#ffc31e, #ffc31e); 
    border-color: #ffc31e #ffc31e hsl(44, 100%, 56%); 
    color: #333 !important; 
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
    -webkit-font-smoothing: antialiased;
}
.btn-action:hover {
    background-color: hsl(38, 100%, 54%) !important; 
    background-repeat: repeat-x; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa814", endColorstr="#ffa814"); 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa814), to(#ffa814)); 
    background-image: -moz-linear-gradient(top, #ffa814, #ffa814); 
    background-image: -ms-linear-gradient(top, #ffa814, #ffa814); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa814), color-stop(100%, #ffa814)); 
    background-image: -webkit-linear-gradient(top, #ffa814, #ffa814); 
    background-image: -o-linear-gradient(top, #ffa814, #ffa814); 
    background-image: linear-gradient(#ffa814, #ffa814); 
    border-color: #ffa814 #ffa814 hsl(38, 100%, 54%); 
    color: #333 !important; 
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
    -webkit-font-smoothing: antialiased;
}